:root {
    /* colors */
    --brand-color: #000110;
    --main-color: #fff;
    --text-color-1: #fff;
    --text-color-2: var(--brand-color);

    /* === SIZING === */

    /* font sizes */
    --text-sm: 1rem;
    --text-md: 1.5rem;
    --text-lg: 2rem;
    --text-xl: 3rem;
    --text-xxl: 3.5rem;
    --text-xxxl: 4.5rem;
    --text-xxxxl: 6rem;

    /* navbar */
    --navbar-height: 4.25rem;
    --navbar-margin: 1rem;


    /* page height */
    --page-height: calc(100vh - var(--navbar-height)) - var(--navbar-margin);

}