@import 'global_constants.css';

body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    90deg, 
    var(--brand-color) 0%, 
    var(--brand-color) 50%, 
    var(--text-color-1) 50%, 
    var(--text-color-1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
