@import 'global_constants.css';

body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    90deg, 
    var(--brand-color) 0%, 
    var(--brand-color) 50%, 
    var(--text-color-1) 50%, 
    var(--text-color-1) 100%
  );
}

@media screen and (max-width: 992px) {
    body {
        background: var(--brand-color);
    }
}

/* Selection color */
::selection {
    color: var(--brand-color);
    background: var(--text-color-1); /* WebKit/Blink Browsers */
}

::-moz-selection {
    color: var(--brand-color);
    background: var(--text-color-1); /* Gecko Browsers */
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--text-color-1) var(--text-color-1);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--text-color-1);
    border-radius: 10px;
    border: 0px solid #ffffff00;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
