@import './constants.css';

#about-us {
    font-size: var(--text-md);
}

#about-us h3 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#about-us p {
    margin: 0;
}

#meet-the-team {
    color: var(--text-color-1);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

#meet-the-team p {
    margin-right: 0.4rem;
}

#meet-the-team .bi-arrow-right-square-fill {
    fill: white;
    height: 1.5rem;
    width: 1.5rem;
}