@import './constants.css';

h2.coming-soon {
    font-size: var(--text-xxxl);
    font-weight: 600;
    margin: 0;
    color: var(--text-color-1);
}

@media screen and (max-width: 992px) {
    h2.coming-soon {
        font-size: var(--text-xxl);
    }
}